@font-face {
    font-family: 'FT88-Regular';
    src: url('FT88-Regular.otf') format('opentype'),
    url('FT88-Regular.woff') format('woff'),
    url('FT88-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FT88-Regular';
    src: url('FT88-Bold.otf') format('opentype'),
    url('FT88-Bold.woff') format('woff'),
    url('FT88-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}