:root {
    --bg-color-W: rgb(218, 218, 218);
    --bg-color: rgb(252, 252, 252);
    --bg-color-M: rgb(246, 246, 246);
    --bg-color-MM: rgb(255, 255, 255);

    --color-W: rgb(0, 0, 0);
    --color: rgb(5, 5, 5);
    --color-M: rgb(25, 25, 25);
    --color-MM: rgb(100, 100, 100);

    --color-primary-WWW: rgb(22, 67, 75);
    --color-primary-WW: rgb(39, 112, 128);
    --color-primary-W: rgb(62, 147, 173);
    --color-primary: rgb(25, 160, 190);
}

.read-area {
    margin: 5% 15%;
}
@media screen and (max-width: 900px) {
    .read-area {
        margin: 5% 1%;
    }
}

div.body-layout {
    display: flex;
    gap: 2rem;
    align-items: flex-start;

    section#artwork {
        flex: 1;
    }
    section#description {
        flex: 1;
        max-width: 450px;
        border-left: 1px solid var(--bg-color-W);
        padding-left: 2rem;
    }
}
@media screen and (max-width: 630px) {
    div.body-layout {
        flex-direction: column;
        align-items: center;
    }
}


#main-render {
    border: 2rem solid white;
    box-shadow: 0 0 25px rgba(0,0,0,0.05);
}

section#breakdown {
    h2 {
        border-bottom: 1px solid var(--bg-color-W);
        margin: 3rem 0;
    }
    #breakdown-progress {
        max-width: 400px;
    }
    img[src^="breakdown.gaffer"] {
        width: 100%;
        height: 100%;
    }

}
