{% extends 'base.html' %}
{% set page_slug = page.slug %}

{% block title %}
  {% if page.breadcrumb %}
    {% set breadcrumbs = page.breadcrumb.strip().split('\n') %}
    {% for i in breadcrumbs %}{% set url, _, title = i.strip().partition(' ') %}{{ title|e }} &raquo; {% endfor %}
  {% endif %}
  {% if page.title == SITENAME|e %}
    {{ page.title -}}
  {% else %}
    {{ page.title }} | {{ SITENAME|e -}}
  {% endif %}
{% endblock %}

{% block head_links %}
  {% if page.css %}
    {% set styles = page.css.strip().split('\n') %}
    {% for style in styles %}
    <link rel="stylesheet" href="{{ style|expand_link(page)|e }}" />
    {% endfor %}
  {% endif %}
  {% if M_FAVICON %}
    <link rel="icon" href="{{ M_FAVICON[0]|format_siteurl|e }}" type="{{ M_FAVICON[1]|e }}" />
  {% endif %}
  <link rel="canonical" href="{{ page.url|format_siteurl|e }}" />
{% endblock %}

{% block meta %}
  {% if page.description %}
  <meta name="description" content="{{ page.description|dehyphenate|striptags|e }}" />
  {% endif %}
{% endblock %}

{% block social %}
  <meta property="og:site_name" content="{{ SITENAME|e }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ page.url|format_siteurl|e }}" />
  {% if page.summary %}
    <meta property="og:description" content="{{ page.summary|dehyphenate|striptags|e }}" />
    <meta name="twitter:description" content="{{ page.summary|dehyphenate|striptags|e }}" />
  {% endif %}
  {% if page.thumbnail %}
    <meta property="og:image" content="{{ page.thumbnail|striptags|expand_link(page)|e }}" />
    <meta name="twitter:image" content="{{ page.thumbnail|striptags|expand_link(page)|e }}" />
    <meta name="twitter:card" content="summary_large_image" />
  {% elif page.cover %}
    <meta property="og:image" content="{{ page.cover|expand_link(page)|e|format_siteurl }}" />
    <meta name="twitter:image" content="{{ page.cover|expand_link(page)|e|format_siteurl }}" />
    <meta name="twitter:card" content="summary_large_image" />
  {% elif M_SOCIAL_IMAGE %}
    <meta property="og:image" content="{{ SITEURL }}{{ M_SOCIAL_IMAGE }}" />
    <meta name="twitter:image" content="{{ SITEURL }}{{ M_SOCIAL_IMAGE }}" />
    <meta name="twitter:card" content="summary" />
  {% endif %}
  {% if not page.cover %}
    <meta name="twitter:card" content="summary" />
  {% endif %}
  <meta property="og:type" content="page" />
{% endblock %}

{% block main %}
  <article>
    <div class="m-container m-container-inflatable">
      {% if page.content %}
        <!-- content -->
        <h1>{{ page.title }}</h1>
        {% if page.duration %}
          <p>{{ page.duration }}</p>
        {% endif %}

        {% block page_content -%}
          {{- page.content|trim }}
        {% endblock %}
        <!-- /content -->
      {% endif %}
    </div>
  </article>
{% endblock %}
