:root {
    --bg-color: rgb(245, 247, 242);
    --bg-color-M: rgb(236, 239, 233);
    --bg-color-MM: rgb(223, 225, 218);
    --color: rgb(10, 10, 10);
    --color-W: rgb(20, 20, 20);
    --color-WW: rgb(30, 30, 30);

}