p {
    margin: unset;
}

h1 {
    font-size: 8rem;
    margin: unset;
    line-height: 7.4rem;
}
@media screen and (max-width: 630px) {
    h1 {
        font-size: 6rem;
    }
    main {
        padding: 0 15px 0 15px;
    }
}
main {
    max-width: 630px;
    margin: auto;
    margin-top: 2rem;
    font-family: var(--font-B);
}

div.title {
    display: flex;
    justify-content: center;
}
div.title p {
    writing-mode: vertical-rl;
    font-size: 3rem;
    text-align: center;
}

div.header-subline {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.6rem;
    justify-content: center;
}

@media screen and (max-width: 630px) {
    div.header-subline {
        flex-direction: column;
        align-items: center;
    }
}

div.header-subline p:nth-child(1) {
    font-weight: bold;
    font-size: 2.4rem;
}

div.header-subline p:nth-child(2) {
    font-weight: lighter;
    font-size: 1.8rem;
}

div.header-subline p:nth-child(3) {
    font-weight: bold;
    font-size: 1.1rem;
}

div.buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 50px;
}

div.button {
    display: flex;
    flex-direction: column;
}

div.button > p {
    text-align: center;
}

div.button a {
    background-color: unset;
    border: unset;
}


div.button img {
    transition: transform .2s;
    width: 100px;
    height: 100px;
    filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.2));
}

div.button img:hover {
    transform: scale(1.2);
}

div.about {
    display: flex;
    align-items: center;
}
div.about > h2 {
    writing-mode: vertical-rl;
    font-size: 3rem;
    margin: unset;
    z-index: 2;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

div.about > p {
    text-align: left;
    max-width: 350px;
}
img.profile-picture {
    left: -35px;
    position: relative;
    max-width: 150px;
    max-height: 150px;
    border-radius: 25px;
    filter: drop-shadow(0 0 30px rgba(55, 227, 144, 0.32));
}
@media screen and (max-width: 630px) {
    div.about {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    div.about > h2 {
        writing-mode: unset;
        bottom: -80px;
        left: -20px;
        position: relative;
    }
    img.profile-picture {
        left: 0;
    }
}


div.topic-cloud {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 50px 15px 50px 15px;
}

div.topic-cloud > * {
    border: 2px solid white;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}
/* https://github.com/IanLunn/Hover/blob/master/css/hover.css#L1023C1-L1049C2 */
@keyframes hvr-buzz {
    15% {
        transform: translate(0px, 3px) rotate(3deg);
    }
    25% {
        transform: translateX(0.5px) rotate(3deg);
    }
    40% {
        transform: translate(0px, 1px) rotate(2deg);
    }
    50% {
        transform: translateX(-0.5px) rotate(3deg);
    }
    65% {
        transform: translate(0px, 2px) rotate(3deg);
    }
    85% {
        transform: translate(0px, -2px) rotate(0deg);
    }
}
.hvr-buzz {
    transform: perspective(1px) translateZ(0);
    transform-box: content-box;
}
.hvr-buzz, .hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
    animation-name: hvr-buzz;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

div.topic-cloud .topic-python {
    color: #FDD23B;
    border-color: #FDD23B;
}

div.topic-cloud .topic-texturing {
    color: #64E07F;
    border-color: #64E07F;
}

div.topic-cloud .topic-lighting {
    color: #FAF584;
    border-color: #FAF584;
}

div.topic-cloud .topic-compositing {
    color: #B49CF9;
    border-color: #B49CF9;
}

div.topic-cloud .topic-photography {
    color: #FA84EE;
    border-color: #FA84EE;
}

div.topic-cloud .topic-color-science {
    color: #6877FF;
    border-color: #6877FF;
}