{% extends ".base.html" %}
{% block main %}
  <h1 style="display:none;">Index</h1>
  <section class="indexA" aria-label="Introduction">
    <video muted loop autoplay>
      <source src="lxm-background-loop.mp4" type="video/mp4">
    </video>
    <div class="l-content">
      <h2 style="display:none;">Introduction</h2>
      <p class="l01">Liam Collod</p>
      <p class="l02">VFX artist - Software Developer</p>
      <p class="ldescription">
        I am a French picture maker whose been tinkering with those for the
        past 10 years.
        I qualify myself as a versatile image maker whose able to craft pretty
        pictures, as much as building the software to make those.
        I strongly believe in knowledge-sharing and care a lot about improving
        human experience in the creative process.
      </p>
      <div class="lsocial">
        <div class="l-social-image" title="LinkedIn">
          <a href="https://www.linkedin.com/in/liam-collod/">
            <img style="opacity:95" alt="linkedin" src=".static/icons/linkedin.svg">
          </a>
        </div>
        <div class="l-social-image" title="Mastodon">
          <a rel="me" href="https://mastodon.gamedev.place/@liamcollod">
            <img style="opacity:0.85;padding:4px" alt="mastodon logo" src=".static/icons/mastodon.svg">
          </a>
        </div>
        <div class="l-social-image" title="Artstation">
          <a href="https://www.artstation.com/monsieur_lixm">
            <img style="opacity:0.75" alt="artstation" src=".static/icons/artstation.svg">
          </a>
        </div>
        <div class="l-social-image" title="Cara">
          <a href="https://cara.app/liamcollod">
            <img style="opacity:0.65" alt="cara logo" src=".static/icons/cara.svg">
          </a>
        </div>
        <div class="l-social-image" title="Github">
          <a href="https://github.com/MrLixm">
            <img style="opacity:0.6" alt="github" src=".static/icons/github.svg">
          </a>
        </div>
        <div class="l-social-image" title="Email">
          <a href="mailto:lcollod@gmail.com">
            <img style="opacity:0.5" alt="email" src=".static/icons/email.svg">
          </a>
        </div>
        <div class="l-social-image" title="Youtube">
          <a href="https://www.youtube.com/c/LiamCollod">
            <img style="opacity:0.4" alt="youtube" src=".static/icons/youtube.svg">
          </a>
        </div>
        <div class="l-social-image" title="Gumroad">
          <a href="https://gumroad.com/pyco">
            <img style="opacity:0.3; padding:0.2rem" alt="gumroad" src=".static/icons/gumroad.svg">
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="indexB" aria-label="Demoreel">
    <div class="l-embed">
      <video controls width="100%">
        <source src="work/demoreel.mp4">
      </video>
    </div>
    <h2><a class="l-index-h2" href="https://vimeo.com/579603827">Demoreel</a>
    </h2>
  </section>
  <section class="indexC" aria-label="Blog">
    <h2><a href="{{ "blog/index.html"|format_link }}">Blog</a></h2>
    {#  {% include 'latest_posts.html' %}#}
  </section>
{%- endblock %}
