/*

Styling of components used through specific sections of the website.

*/
/*-----------------------------------------------------------------------------

    WEBSITE HEADER

----------------*/
#nav-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 3rem 0;
}
#logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    margin: 0.6rem;
}
#logo-img {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.25;
    margin: 0 -2rem 0;
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;

}
#logo:hover #logo-img {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.logo-txt {
    color: rgba(243, 243, 243, 0.7);
    font-family: var(--font-B);
    font-weight: 100;
    font-size: 1.9rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.l-nav-menu {
    margin: 1rem 0 1rem;
}
.l-nav-menu ol {
    all: unset;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.l-nav-menu li {
    all: unset;
    margin: 0.5rem;
}
.l-nav-menu a {
    color: rgba(243, 243, 243, 0.95);
    font-family: var(--font-B);
    font-weight: 100;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.l-nav-menu a:hover {
    /*color: var(--link-active-color);*/
    font-weight: 600;
    letter-spacing: 0;
}
/*class shoudl be assigned to the menu currently active (user clicked on it)*/
.l-nav-menu .l-nav-active {
    color: var(--color);
    font-weight: 600;
    letter-spacing: 0;
    opacity: 1;
}
/*LIGHT THEME*/
/*body > header {*/
/*    background-color: rgb(241, 241, 241);*/
/*}*/
/*.l-nav-menu a {*/
/*    color: rgb(10,10,10);*/
/*}*/
/*.logo-txt {*/
/*    color: rgb(10, 10, 10);*/
/*}*/
/*------------END HEADER-----------------------------------------------------*/
/*-----------------------------------------------------------------------------

    article

---------*/
/*

*/
main article p {
    color: var(--color-article-main);
    font-size: var(--font-article-size);
    letter-spacing: -0.4px;
}
main article aside p {
    color: inherit;
    font-size: 1rem;
    letter-spacing: -0.3px;
}

main article h1,
main article h2,
main article h3,
main article h4,
main article h5{
    font-family: var(--font-B);
    font-weight: 100;
}
main article h1 {
    font-size: 3.5rem;
    margin-top: 8rem;
}
main article h2 {
    font-size: 3rem;
    margin-top: 7rem;
}
main article h3 {
    font-size: 2.3rem;
    margin-top: 6rem;
}
main article h4 {
    font-size: 2rem;
    margin-top: 5rem;
}
main article h5 {
    font-size: 1.8rem;
    margin-top: 4rem;
}

main article aside h3 {
    font-size: 1.1rem;
    font-family: var(--font-C);
    font-weight: 600;
}
/*
    l-article-header
    post context + h1 + summary
 */
.l-article-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
/* Override the above for specific sections */
article .l-article-header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
}
@media screen and (max-width: 576px) {
    article .l-article-header h1 {
        font-size: 1.5rem;
    }
}
#blog-simple .l-article-header h1 {
    font-size: 2.3rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    margin-top:0.5rem;
}
#m-jumbo .l-article-header {
    align-items: center;
}
#m-jumbo .l-article-header h1 {
    text-align: center;
    font-size: 4rem;
}
@media screen and (max-width: 500px) {
    #m-jumbo .l-article-header h1 {
        font-size: 3rem;
    }
}
#m-jumbo .l-article-header p {
    text-align: center;
}
#blog-simple .l-article-header p {
    letter-spacing: 1px;
}
/*
    #cover-img
    jumbo article image styling
*/
#cover-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    padding-top: 22rem;
    margin: 2rem 0 2rem;
}
@media screen and (max-width: 500px) {
    #cover-img {
        padding-top: 15rem;
    }
}
/*

    l-post-context
    row of widgets giving contextual informations about the article
    use flex-box

*/
.l-post-context {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.l-post-context img{
    display: inherit;
    margin-right: 0.5rem;
    width: 20px;
}
.l-post-context time{
    display: inherit;
}
.l-post-context a{
    display: inherit;
}
/*

    #contents
    The table of content of an article

*/
#contents {
    margin-bottom: 2rem;
}
#contents h3 {
    margin-top: 2rem;
}

#contents a {
    text-decoration: none;
}
#contents li {
    margin: 0.2rem 0 0;
}
#contents > ul > li > a {
    font-weight: 600;
}
#contents > ul > li > ul > li > ul > li > a,
#contents > ul > li > ul > li > ul > li > ul > li > a
{
    font-size: 0.9rem;
}
.m-block p {
    text-align: left;
}
/*inline crumbed list*/
article section dd {
    margin-inline-start: 0;
    margin-top: 0.5rem;
}
article section dt {
    margin-top: 0.5rem;
}
/*

    url-preview directive

*/
.l-url-box {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin: 0.5rem 0 1rem;
    transition: 0.25s;
}
.l-url-box:hover {
    transform: scale(1.05);
}
.l-url-a {
    /*trick from https://stackoverflow.com/a/67156294/13806195 */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.l-url-box-details{
    width: 100%;
    /*border: 1px solid var(--color-disable);*/
    background-color: rgba(255,255,255,0.05);
    border-radius: 0.5rem;
    padding: 1rem;
}
.l-url-box-image {
    display: flex;
    align-items: center;
    /*border: 1px solid var(--color-disable);*/
    border-radius: 0.5rem;
    color: var(--color-disable);
    max-width: 160px;
}
@media screen and (max-width: 500px) {
    .l-url-box-image {
        max-width: 90px;
    }
}
.l-url-box-image img{
    border-radius: 0.5rem;
    object-fit: cover;
    min-height: 100%;
    width: 100%;
}
.l-url-title {
    font-weight: 800;
    margin: 0;
}
.l-url-subtitle {
    display: flex;
    margin-bottom: 0.5rem;
}
.l-url-subtitle a {
    font-size: 0.8rem;
    color: var(--color-disable);
}
.l-url-subtitle a::before {
    all: initial;
}
.l-url-description {
    margin: 0;
    font-size: 0.9rem;
    color: var(--color-article-darker);
}
/*
l-box-post-connections
in blog-post footers
*/
.l-box-post-connections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0 2rem;
}
@media screen and (max-width: 500px) {
    .l-box-post-connections {
        flex-direction: column;
    }
    .l-box-post-connections > * {
        width: 100%;
    }
}
.l-box-post-connections p {
    font-size: 1rem;
    margin: 0 0 0.4rem;
    text-align: center;
}
.l-box-post-connections > * {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    padding: 0.7rem 2rem 0.7rem;
    border-radius: 0.5rem;
}

/*------------END article----------------------------------------------------*/
/*-----------------------------------------------------------------------------

    index.hmtl custom widgets

---------------------------*/
/*
    indexA
    1st section
*/
.indexA {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 70vh;
    overflow: hidden;
}
.indexA .l-content {
    max-width: 35rem;
    margin: 4rem 5rem 4rem 50%;
}
.indexA .l-content p {
    font-family: var(--font-C);
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    text-align: unset;
}
.indexA .l-content .l01 {
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
}
.indexA .l-content .l02 {
    font-weight: 700;
    font-size: 2.25rem;
}
.indexA .l-content .ldescription {
    margin-top: 0.6rem;
    margin-bottom: 0.8rem;
}
.indexA .l-content .lsocial {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.indexA .l-content .lsocial .l-social-image img {
    width: 50px;
    opacity: 0.8;
    transition: 0.25s;
}
.indexA .l-content .lsocial .l-social-image img:hover,
.indexA .l-content .lsocial .l-social-image img:focus
{
    opacity: 1;
    transform: scale(1.2);
}
.indexA > video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    z-index: -1;
}
@media screen and (max-width: 1180px) {
    .indexA > video {
        transform: translate(-15%, 0);
    }
    .indexA .l-content {
        margin-left: 40%;
    }

}
@media screen and (max-width: 900px) {
    .indexA > video {
        transform: translate(-35%, 0);
    }
    .indexA .l-content {
        max-width: 35rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }
}
@media screen and (max-width: 600px) {
    .indexA .l-content .l01 {
        font-weight: 700;
        font-size: 2.1rem;
    }
    .indexA .l-content .l02 {
        font-weight: 500;
        font-size: 1.22rem;
    }
    .indexA .l-content .lsocial {
        justify-content: flex-start;
    }
    .indexA .l-content .lsocial .l-social-image img {
        width: 46px;
        margin: 0 0.5rem 0;
    }

}
/*
    indexB
    2nd section, for the demoreel
*/
.indexB {
    position: relative;
    background-color: rgba(12, 19, 30, 0.5);
}
.indexB > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    z-index: -1;
}
.indexB button {
    background-color: rgba(250,255,255,0.1);
    color: var(--color);
    font-family: var(--font-C);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid rgba(170, 183, 229, 0.2);
    border-radius: 0.1rem;
    padding: 1rem 4rem 1rem;
    cursor: pointer;
    transition: 0.25s;
}
.indexB button:hover {
    transform: scale(1.2);
}
.indexB .l-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.indexB .l-embed iframe,
.indexB .l-embed object,
.indexB .l-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.l-index-h2 {
    color: rgb(250,250,250);
    opacity: 0.5;
    font-family: var(--font-B);
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0.5rem 1rem 0.5rem;
    position: absolute;
    top: -37px;
    left: 4vh;
}
.l-index-h2:hover {
    opacity: 0.65;
}
@media screen and (max-width: 900px) {
    .l-index-h2 {
        font-size: 2.4rem;
    }

}
/*
    indexC
    3rd section, for the blog
*/
.indexC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 51vh;
}
.indexC h2 {
    margin-top: 2rem;
}
.indexC h2 a {
    color: rgb(250,250,250);
    opacity: 0.5;
    font-family: var(--font-B);
    font-size: 5rem;
    font-weight: 100;
    text-transform: uppercase;
}
.indexC h2 a:hover {
    opacity: 0.65;
}
.l-latest-posts {
    margin: 1rem;
}
.l-latest-posts h3 a {
    color: rgb(250,250,250);
    opacity: 0.55;
}
.l-latest-posts li time {
    font-family: Source Sans Pro, sans-serif;
    font-size: 0.8rem;
    width: 8rem;
}
.l-latest-posts li {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 600px) {
    .l-latest-posts li {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0.9rem;
    }
}
/*------------END index.html-----------------------------------------------*/
/*-----------------------------------------------------------------------------

    archive.html

--------------*/
/*
/*

l-box-filters
Hold the filters used for articles display.

*/
.l-box-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (max-width: 500px) {
    .l-box-filters {
        flex-direction: row;
    }
}
.l-box-filters > .l-flex-item {
    flex-basis: 100%;
}
/*-----------------------------------------------------------------------------

    archive.html: Filter Widgets
    from: https://codepen.io/Wendy-Ho/pen/MWWBvmd?editors=1100
    tab system

------------------------------*/
#filters {
    display: flex;
    flex-direction: row;
    margin: 2rem 0 2rem;
}
#filters .l-line-v-s {
    border-color: var(--primary-color);
    margin-left: 0;
}
.l-filters-title {
    padding: 0.3rem 0.8rem 0.3rem;
    background-color: rgb(44,47,52);
    border-radius: 0.2rem;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0.1rem;
}
.l-filters-title:before {
    content: "";
    background: url("/static/images/global/icons/filter.svg") no-repeat bottom;
    background-size: 14px;
    width: 1rem;
    height: 1rem;
    display: inline-block;
}
.l-filters-box {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    background-color: rgb(12,12,12);
    border-radius: 0.8rem;
    box-shadow: 0 0 1.5rem rgba(0,0,0,0.8);
}
.l-radio-none {
    display: none;
}
.l-filters-tab {
    cursor: pointer;
    display:inline-block;
    font-weight: 700;
    font-size: 1rem;
    margin: 0.5rem;
}
#filter-tab-D {
    font-family: var(--font-B);
    font-weight: 100;
}
.l-filters-tab:hover {
    transform: scale(1.1);
}
.l-filters-panels-box {
    overflow: hidden;
}
.l-filters-panel {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0.5rem;
    animation: fadein 0.8s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*
the part after ~ must be relative to the position of the radio
this explain the .some-class before the id.
*/
#filter-A:checked ~ .l-filters-panels-box #filter-panel-A,
#filter-B:checked ~ .l-filters-panels-box #filter-panel-B,
#filter-C:checked ~ .l-filters-panels-box #filter-panel-C {
  display: flex;
}
#filter-A:checked ~ .l-filters-toolbar #filter-tab-A,
#filter-B:checked ~ .l-filters-toolbar #filter-tab-B,
#filter-C:checked ~ .l-filters-toolbar #filter-tab-C
{
  color: var(--primary-color);
}
/*------------END Filter Widgets---------------------------------------------*/
/*------------END archive.html-----------------------------------------------*/
