/*

Layouts Objects

*/
/*-----------------------------------------------------------------------------

    MODULAR CLASSES

    Used in article with .rst syntax to per-case customization.

-----------------*/
/*
.l-flex-c
Simple flexbox, column orientation,
*/
.l-flex-c {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/*
.l-flex-r
Simple flexbox, row orientation,
*/
.l-flex-r {
    display: flex;
    flex-direction: row;
}
/*
Used to configure a flexbox container
*/
.l-flex-center {
    align-items: center;
}
.l-flex-left {
    align-items: flex-start;
}
.l-flex-right {
    align-items: flex-end;
}
.l-flex-baseline {
    align-items: baseline;
}
/*
l-gap
gap between flexbox items
*/
.l-gap-1 {
    gap: 1rem;
}
.l-gap-2 {
    gap: 2rem;
}
/*
l-flex-shrink
 */
.l-flex-shrink-0 {
    flex-shrink: 0;
}
.l-flex-shrink-1 {
    flex-shrink: 1;
}
.l-flex-shrink-2 {
    flex-shrink: 2;
}
/*
l-flex-grow
 */
.l-flex-grow-0 {
    flex-grow: 0;
}
.l-flex-grow-1 {
    flex-grow: 1;
}
.l-flex-grow-2 {
    flex-grow: 2;
}
/*
l-flex-item
Should correspond to the direct child of a flexbox.
Smaller margin on mobile devices.
*/
.l-flex-item {
    margin: 0.5rem 0.4rem 0.5rem;
}
@media screen and (max-width: 500px) {
    .l-flex-item {
        margin: 0.3rem 0.2rem 0.3rem;
    }
}
/* this version use a smaller left/right margin */
.l-flex-item-s {
    margin: 0.5rem 0.2rem 0.5rem;
}
@media screen and (max-width: 500px) {
    .l-flex-item-s {
        margin: 0.3rem 0.2rem 0.3rem;
    }
}
/*
l-scale-w
scale an item using percents.
*/
.l-scale-w-10 {
    width: 10%;
}
.l-scale-w-20 {
    width: 20%;
}
.l-scale-w-30 {
    width: 30%;
}
.l-scale-w-40 {
    width: 40%;
}
.l-scale-w-50 {
    width: 50%;
}
.l-scale-w-60 {
    width: 60%;
}
/*
.l-invisble
make content not visible
*/
.l-invisible {
    display: none;
}
/*
.l-nomrg
Remove margin
 */
.l-nomrg {
    margin: unset;
}
/*
.l-mrg-xs
add a bottom/top margin with a very small size
*/
.l-mrg-xs {
    margin: 0.25rem 0 0.25rem;
}
/*
.l-mrg-s
add a  bottom/top margin with a small size
*/
.l-mrg-s {
    margin: 0.5rem 0 0.5rem;
}
/*
.l-mrg-m
add a  bottom/top margin with a medium size
*/
.l-mrg-m {
    margin: 1rem 0 1rem;
}
/*
.l-mrg-l
add a  bottom/top margin with a large size
*/
.l-mrg-l {
    margin: 2rem 0 2rem;
}
