{% extends ".base.html" %}
{% block header %}
  {{ super() }}
  <div class="fujistyle-logo-frame">
    <div class="fujistyle-logo-bg"></div>
    <a href="{{ "index.html"|mkpagerel|prettylink }}">
      {% include 'work/photography/logotype.liam.fuji-style.svg' %}
    </a>
  </div>
{% endblock %}
{% block main %}
  <section id="main-header">
    <span class="information-txt">website best viewed on screen > 1250px wide</span>
    <div class="title">
      <h1>{{ Page.title }}</h1>
      <div class="translation"><p lang="fr">photographie</p><p lang="it">fotografia</p><p lang="PL">fotographika</p></div>
    </div>
    <nav class="subtitle">
      <ul>
        <li><a href="#session">↓ see sessions below</a></li>
        <li><a href="#shots">↓↓ jump to shots</a></li>
      </ul>
    </nav>
  </section>
  <section id="session" class="box">
    <div class="section-header">
      <div class="section-header-decoration"></div>
      <h2>Sessions</h2>
      <div class="translation"><p lang="fr">sessions</p><p lang="it">sessioni</p><p lang="PL">sesje</p></div>
    </div>
    <span class="information-txt">collection of shots took around the same time, with a similar thematic;<br>click the cover image to view the whole session</span>
    <hr>
    <div class="photography-gallery">
      {%- for page in Shelf.iterate_children_by_last_created(reverse=True) %}
        {%- if page is not sameas(Page) %}
          <a href="{{ page.url_path|mkpagerel }}">
            <div class="photography-gallery-item">
              <img src="{{ page.metadata.image|mksiterel(page.url_path)|mkpagerel }}" alt="{{ page.metadata.image_alt }}">
              <h3>{{ page.title }}</h3>
            </div>
          </a>
        {%- endif %}
      {%- endfor %}
    </div>
  </section>
  <section id="shots">
    <section class="box">
      <div class="section-header">
        <div class="section-header-decoration"></div>
        <h2>Shots</h2>
        <div class="translation"><p lang="fr">clichés</p><p lang="it">foto</p><p lang="PL">klisza</p></div>
      </div>
      <span class="information-txt">individual shots presented in a random order</span>
    </section>
    <div class="shot-gallery">
      <div class="background-override"></div>
      {{ include_script_output("get-shots.py") }}
    </div>
    <hr>
  </section>
{% endblock %}