{% extends ".base.html" %}
{% block title %}{{ Page.metadata.title }} - Photography - Liam Collod{% endblock %}
{% block main %}
  <article class="read-area">
    <section id="article-header">
      <a class="back-index" href="{{ "work/photography/index.html"|mkpagerel|prettylink }}">/ back to photography /</a>
      <h1>{{ Page.title }}</h1>
      {%- if Page.metadata.description %}
        <p id="post-description" title="the post description">{{ Page.metadata.description }}</p>
      {%- endif %}
    </section>
    {%- block page_content %}
    {{ Page.html_content }}
    {%- endblock %}
  </article>
{% endblock %}