@import url(https://fonts.bunny.net/css?family=covered-by-your-grace:400);

h1 {
    text-shadow: white 0 0 100px, white 0 0 100px, white 0 0 50px;
}

article.read-area {
    margin: 0 15vw;
}

section#photography-library {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.photography-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1 0 30%;

    margin-top: 5px;
    padding: 0.5rem;
    height: 100%;
    /*max-width: 50%;*/
    position: relative;

    background: linear-gradient(rgb(253,253,253), rgb(225, 228, 232), rgb(253,253,253));
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.2);
    transform: rotate(var(--random-rot));
    transition: transform 0.3s;

    h2 {
        margin: 0 0 0 -5px;
        padding: 0.5rem;
        font-size: 1.1rem;
        font-family: "Covered By Your Grace", sans-serif;
        color: rgb(9,9,9);
        background-color: rgb(250, 250, 244);
        transform: rotate(-3deg);
        box-shadow: rgba(0,0,0,0.2) 0 0 2px;
    }
    img {
        border-radius: 3px;
        margin: 0;
        width: 256px;
        height: 256px;
        object-fit: cover;
    }
    time {
        text-align: right;
        font-family: var(--font-mono);
        color: rgb(9,9,9);
    }

}
.photography-item:hover {
    transform: translate(-5px, -10px);
}