:root {
    --bg-color: rgb(2,2,2);

    --image-spacing: 2rem;

}
h1 {
    text-align: center;
    color: var(--color);
    font-family: var(--font-A);
    font-weight: lighter;
}

.read-area {
    /* give a bit more space than blog post and others */
    margin: 0 25vw;

    .image-gallery .left .metadata,
    .image-gallery .right .metadata {
        /* prevent triggering overflow in parent because too wide */
        max-width: calc(25vw - 2.5rem);
    }
}
@media screen and (max-width: 1350px) {
    .read-area {
        margin: 0 20vw;

        .image-gallery .left .metadata,
        .image-gallery .right .metadata {
            /* prevent triggering overflow in parent because too wide */
            max-width: calc(20vw - 2.5rem);
        }
    }
}
/* we use the <code> element to isolate the direction arrow <>∧∨ that are only useful
for the non-responsive layout */
.image-gallery label code {
    font-size: 1.5rem;
}
.image-gallery .responsive label code {
    display: none;
}
