{% extends "base_blog.html" %}

{%- macro article_content_block() -%}
  {% block article_content -%}
    {{- article.content|trim -}}
  {%- endblock %}
{%- endmacro -%}

{% block title %}{{ article.title }} | {{ M_BLOG_NAME|e }}{% endblock %}

{% block head_links %}
  {{- super() -}}
  {# don't mind me, I'm just fixing whitespace from the previous line #}
  <link rel="canonical" href="{{ article.url|format_siteurl|e }}" />
{% endblock %}

{% block meta %}
  {% if article.description %}
  <meta name="description" content="{{ article.description|dehyphenate|striptags|e }}" />
  {% endif %}
{% endblock %}

{% block social %}
  {{- super() -}}
  {% if article.author and article.author.twitter %}
  <meta name="twitter:creator" content="{{ article.author.twitter }}" />
  {% endif %}
  {% if article.author and article.author.twitter_id %}
  <meta name="twitter:creator:id" content="{{ article.author.twitter_id }}" />
  {% endif %}
  <meta property="og:title" content="{{ article.title }}" />
  <meta name="twitter:title" content="{{ article.title }}" />
  <meta property="og:url" content="{{ article.url|format_siteurl|e }}" />
  {% if article.summary %}
  <meta property="og:description" content="{{ article.summary|dehyphenate|striptags|e }}" />
  <meta name="twitter:description" content="{{ article.summary|dehyphenate|striptags|e }}" />
  {% endif %}
  {% if article.thumbnail %}
  <meta property="og:image" content="{{ article.thumbnail|striptags|expand_link(article)|e }}" />
  <meta name="twitter:image" content="{{ article.thumbnail|striptags|expand_link(article)|e }}" />
  <meta name="twitter:card" content="summary_large_image" />
  {% elif article.cover %}
  <meta property="og:image" content="{{ article.cover|expand_link(article)|e|format_siteurl }}" />
  <meta name="twitter:image" content="{{ article.cover|expand_link(article)|e|format_siteurl }}" />
  <meta name="twitter:card" content="summary_large_image" />
  {% elif article.category.image %}
  <meta property="og:image" content="{{ article.category.image|expand_link(article)|e }}" />
  <meta name="twitter:image" content="{{ article.category.image|expand_link(article)|e }}" />
  <meta name="twitter:card" content="summary" />
  {% elif M_SOCIAL_IMAGE %}
  <meta property="og:image" content="{{ SITEURL }}{{ M_SOCIAL_IMAGE }}" />
  <meta name="twitter:image" content="{{ SITEURL }}{{ M_SOCIAL_IMAGE }}" />
  <meta name="twitter:card" content="summary" />
  {% endif %}
  <meta property="og:type" content="article" />
{% endblock %}

{% macro badges() %}{% include "article_badges.html" %}{% endmacro %}

{% block content %}
  {% if article.cover %}
    <article id="m-jumbo"{% if article.class %} class="{{ article.class }}"{% endif %}>
      <header>
        <div class="m-container">
          <div id="cover-img" style="
            background-image: url('{{ article.cover|expand_link(article)|e }}');
            {% if article.cover_size %}background-size: {{ article.cover_size|striptags|e }};{% endif %}">
          </div>
          {% macro header() %}{% include "article_header.html" %}{% endmacro %}
          {{ header()|rtrim|indent(6) }}
        </div>
      </header>
      {% if article.content %}
      <div class="m-container m-container-inflatable">
        <div class="m-row">
          <div class="m-col-l-none m-nopady">
            {% if article.archived == 'True' and M_ARCHIVED_ARTICLE_BADGE %}
            {{ M_ARCHIVED_ARTICLE_BADGE|render_rst|replace('{year}', article.date.year)|indent(8) }}
            {% endif %}
  <!-- content -->
  {{ article_content_block() }}
  <!-- /content -->
            {% if article.category.badge or (article.author and article.author.badge) %}
            {{ badges()|rtrim|indent(10) }}
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      <footer>
        <div class="m-container">
          <div class="m-col-l-none m-nopadb">
            {% macro footer() %}{% include "article_footer.html" %}{% endmacro %}
            {{ footer()|rtrim|indent(10) }}
          </div>
        </div>
      </footer>
    </article>
  {% else %}
    <article class="m-col-l-none m-nopadb">
      {% macro header() %}{% include "article_header.html" %}{% endmacro %}
      {{ header()|rtrim|indent(6) }}
      <div class="m-clearfix-l"></div>
      {% if article.archived == 'True' and M_ARCHIVED_ARTICLE_BADGE %}
      {{ M_ARCHIVED_ARTICLE_BADGE|render_rst|replace('{year}', article.date.year)|rtrim|indent(6) }}
      {% endif %}
      {% if article.content %}
<!-- content -->
{{ article_content_block() }}
<!-- /content -->
      {% endif %}
      {% if article.category.badge or (article.author and article.author.badge) %}
      {{ badges()|rtrim|indent(6) }}
      {% endif %}
      <footer>
        {% macro footer() %}{% include "article_footer.html" %}{% endmacro %}
        {{ footer()|rtrim|indent(8) }}
      </footer>
    </article>
    {% endif %}
{% endblock %}
