<div class="l-line-xs" title="Footer Separator"></div>
<header class="l-post-context l-mrg-xs" title="Post Context" id="post-context-header">
  {% if article.status == 'draft' %}
    <span class="l-status l-bgc-yellow-l l-c-ldark l-flex-item" id="s-draft" title="Post status">
      draft
    </span>
  {% endif %}
  {% if article.archived == 'True' %}
    <span class="l-status l-bgc-red-l l-c-ldark l-flex-item" id="s-archived" title="Post status">
      archived
    </span>
  {% endif %}
  <span class="l-category">
    <a href="{{ article.category.url|format_siteurl|e }}">{{ article.category|e }}</a>
  </span>
  {% if article.tags %}
    &nbsp;
    &nbsp;
    {% for tag in article.tags %}
      <span class="l-tag l-flex-item" title="tag">
        <a href="{{ tag.url|format_siteurl|e }}">{{ tag|e }}</a>
      </span>
      {% if not loop.last %}
        <!--Invisible to the use but picked when copy/pasting-->
        <span class="l-txt-invisible">,</span>
      {% endif %}
    {% endfor %}
  {% endif %}
</header>
<footer class="l-post-context" id="post-context-footer">
  <span class="l-time l-flex-item" title="Date Created">
    <img src="/static/images/global/icons/calendar.svg" alt="Calendar icon" >
    <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
  </span>
  {% if article.modified %}
    <span class="l-modified l-flex-item" title="Last Modified">
      updated
      <time datetime="{{ article.modified.isoformat() }}">&nbsp;{{ article.locale_modified }}</time>
    </span>
  {% endif %}
  {% if article.authors %}
  <span class="l-box-author l-flex-item" title="List of Authors">
    <img src="/static/images/global/icons/account.svg" alt="Author icon" >
    <span class="l-author" title="A post Author">
      {% for author in article.authors %}
        <a href="{{ author.url|format_siteurl|e }}">{{ author|e }}</a>
        {% if not loop.last %}
          -
        {% endif %}
      {% endfor %}
    </span>
  </span>
  {% endif %}
</footer>
<div class="l-box-post-connections">
  <div class="l-box-kofi">
    <p>If this was of any help you can:</p>
    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'>
    </script>
    <script type='text/javascript'>
      kofiwidget2.init('Support Me on Ko-fi !', '#29abe0', 'E1E3ALNSG');kofiwidget2.draw();
    </script>
  </div>
  <div class="l-box-discord">
    <p>No comment system yet so instead:</p>
    <div class="l-btn-discord  l-flex-r l-flex-center">
      <a  class="l-btn-discord-img" href="https://discord.gg/47ySGqMEAj">
        <img src="/static/images/global/static/discord.svg" alt="Discord Icon">
      </a>
      <a href="https://discord.gg/47ySGqMEAj">Join the Discord to discuss</a>
    </div>
  </div>
</div>