<header>
  <header class="l-post-context l-mrg-m" title="Post Context" id="post-context-header">
    <span class="l-category">
      <a href="{{ article.category.url|format_siteurl|e }}">{{ article.category|e }}</a>
    </span>
    {% if article.tags %}
      &nbsp;
      &nbsp;
      {% for tag in article.tags %}
        <span class="l-tag l-flex-item" title="tag">
          <a href="{{ tag.url|format_siteurl|e }}">{{ tag|e }}</a>
        </span>
        {% if not loop.last %}
          <!--Invisible to the use but picked when copy/pasting-->
          <span class="l-txt-invisible">,</span>
        {% endif %}
      {% endfor %}
    {% endif %}
  </header>
  <h1 title="Article title">
    <a href="{{ article.url|format_siteurl|e }}" rel="bookmark" title="Permalink to {{ article.title }}">
      {{ article.title }}
    </a>
  </h1>
  {# Display summary only if:
    - we're on article listing page (either the articles_page is defined by
      Pelican the article_list is defined by our archive/index page and the
      article is not expanded (it's expanded only if it's first on the first
      page only on the index/archive page and only if it doesn't say it should
      be collapsed)
    - the article is expanded but doesn't say the summary should be hidden #}
  {% if article.summary and
        (((articles_page or article_list) and
         (page_name not in ['index', 'archives'] or
          not loop.first or
          (articles_page and articles_page.number != 1) or
          (article.collapse_first is defined and article.collapse_first == 'True') or
          (article.collapse_first is not defined and M_COLLAPSE_FIRST_ARTICLE))) or
        (article.hide_summary is defined and article.hide_summary != 'True') or
        (article.hide_summary is not defined and not M_HIDE_ARTICLE_SUMMARY)) %}
  {{ article.summary|trim|indent(2) }}
  {% endif %}
  <footer class="l-post-context" id="post-context-footer">
    <span class="l-time l-flex-item" title="Date Created">
      <img src="/static/images/global/icons/calendar.svg" alt="Calendar icon" >
      <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
    </span>
    {% if article.modified %}
      <span class="l-modified l-flex-item" title="Last Modified">
        updated
        <time datetime="{{ article.modified.isoformat() }}">&nbsp;{{ article.locale_modified }}</time>
      </span>
    {% endif %}
    {% if article.authors %}
    <span class="l-box-author l-flex-item" title="List of Authors">
      <img src="/static/images/global/icons/account.svg" alt="Author icon" >
      <span class="l-author" title="A post Author">
        {% for author in article.authors %}
          <a href="{{ author.url|format_siteurl|e }}">{{ author|e }}</a>
          {% if not loop.last %}
            -
          {% endif %}
        {% endfor %}
      </span>
    </span>
    {% endif %}
    <div class="l-filler"></div>
    {% if article.status == 'draft' %}
      <span class="l-status l-bgc-yellow-l l-c-ldark l-flex-item" id="s-draft" title="Post status">
        draft
      </span>
    {% endif %}
    {% if article.archived == 'True' %}
      <span class="l-status l-bgc-red-l l-c-ldark l-flex-item" id="s-archived" title="Post status">
        archived
      </span>
    {% endif %}
  </footer>
</header>

