<header title="Articles filters" id="filters">
  <div class="l-line-v-s"></div>
  <div class="l-filters-box m-col-l-none">
    <input class="l-radio-none" id="filter-A" name="filter-radio" type="radio">
    <input class="l-radio-none" id="filter-B" name="filter-radio" type="radio">
    <input class="l-radio-none" id="filter-C" name="filter-radio" type="radio">
    <input class="l-radio-none" id="filter-D" name="filter-radio" type="radio">
    <form class="l-filters-toolbar">
      <span class="l-filters-title">Filters</span>
      <label class="l-filters-tab" id="filter-tab-A" for="filter-A">Categories</label>
      <label class="l-filters-tab" id="filter-tab-B" for="filter-B">Tags</label>
      <label class="l-filters-tab" id="filter-tab-C" for="filter-C">Authors</label>
      <label class="l-filters-tab" id="filter-tab-D" for="filter-D" title="Hide filters">X</label>
    </form>
    <div class="l-filters-panels-box">
      <div class="l-filters-panel" id="filter-panel-A" title="Categories list">
        {% for cat, null in categories %}
          <span class="l-category l-flex-item" title="category">
            <a href="{{ cat.url|format_siteurl|e }}">{{ cat|e|hyphenate }}</a>
          </span>
        {% endfor %}
      </div>
      <div class="l-filters-panel" id="filter-panel-B" title="Tags list">
        {% if tags %}
          {% for tag, articles in tags|sort(attribute='0') %}
            <span class="l-tag l-flex-item l-flex-item-s" title="tag">
              <a href="{{ tag.url|format_siteurl|e }}">{{ tag|e }}</a>
            </span>
          {% endfor %}
        {% endif %}
      </div>
      <div class="l-filters-panel" id="filter-panel-C" title="Authors list">
          {% for author, articles in authors|sort(attribute='0') %}
            <span class="l-tag l-flex-item l-flex-item-s" title="tag">
              <a href="{{ author.url|format_siteurl|e }}">{{ author|e }}</a>
            </span>
          {% endfor %}
      </div>
      <div class="l-filters-panel" id="filter-panel-D" title="Hide filter panel">
      </div>
    </div>
  </div>
</header>