.m-code pre {
    background: #282c34
}

.m-code .hll {
    background: #282c34
}

.m-code .c {
    color: #5c6370;
    font-style: italic
}

.m-code .err {
    color: #960050;
    background-color: #1e0010
}

.m-code .k {
    color: #c678dd
}

.m-code .l {
    color: #98c379
}

.m-code .n {
    color: #abb2bf
}

.m-code .o {
    color: #abb2bf
}

.m-code .p {
    color: #abb2bf
}

.m-code .cm {
    color: #5c6370;
    font-style: italic
}

.m-code .cp {
    color: #5c6370;
    font-style: italic
}

.m-code .c1 {
    color: #5c6370;
    font-style: italic
}

.m-code .cs {
    color: #5c6370;
    font-style: italic
}

.m-code .ge {
    font-style: italic
}

.m-code .gs {
    font-weight: 700
}

.m-code .kc {
    color: #c678dd
}

.m-code .kd {
    color: #c678dd
}

.m-code .kn {
    color: #c678dd
}

.m-code .kp {
    color: #c678dd
}

.m-code .kr {
    color: #c678dd
}

.m-code .kt {
    color: #c678dd
}

.m-code .ld {
    color: #98c379
}

.m-code .m {
    color: #d19a66
}

.m-code .s {
    color: #98c379
}

.m-code .na {
    color: #d19a66
}

.m-code .nb {
    color: #e5c07b
}

.m-code .nc {
    color: #e5c07b
}

.m-code .no {
    color: #e5c07b
}

.m-code .nd {
    color: #e5c07b
}

.m-code .ni {
    color: #e5c07b
}

.m-code .ne {
    color: #e5c07b
}

.m-code .nf {
    color: #abb2bf
}

.m-code .nl {
    color: #e5c07b
}

.m-code .nn {
    color: #abb2bf
}

.m-code .nx {
    color: #abb2bf
}

.m-code .py {
    color: #e5c07b
}

.m-code .nt {
    color: #e06c75
}

.m-code .nv {
    color: #e5c07b
}

.m-code .ow {
    font-weight: 700
}

.m-code .w {
    color: #f8f8f2
}

.m-code .mf {
    color: #d19a66
}

.m-code .mh {
    color: #d19a66
}

.m-code .mi {
    color: #d19a66
}

.m-code .mo {
    color: #d19a66
}

.m-code .sb {
    color: #98c379
}

.m-code .sc {
    color: #98c379
}

.m-code .sd {
    color: #98c379
}

.m-code .s2 {
    color: #98c379
}

.m-code .se {
    color: #98c379
}

.m-code .sh {
    color: #98c379
}

.m-code .si {
    color: #98c379
}

.m-code .sx {
    color: #98c379
}

.m-code .sr {
    color: #56b6c2
}

.m-code .s1 {
    color: #98c379
}

.m-code .ss {
    color: #56b6c2
}

.m-code .bp {
    color: #e5c07b
}

.m-code .vc {
    color: #e5c07b
}

.m-code .vg {
    color: #e5c07b
}

.m-code .vi {
    color: #e06c75
}

.m-code .il {
    color: #d19a66
}

.m-code .gu {
    color: #75715e
}

.m-code .gd {
    color: #f92672
}

.m-code .gi {
    color: #a6e22e
}