/*===========================================================================*/
/* docutils specific elements */

/* tables */
table p {
    margin: unset;
}
table.inline {
    max-width: 100%;
    min-width: 70%;
    width: max-content;
    border-spacing: 0 0;
    border-collapse: separate;
    border-radius: 15px;
    margin: 1rem auto;

}
table.inline th,
table.inline td {
    vertical-align: middle;
    padding: 0.8em;
}
table.inline th {
    background-color: var(--bg-color-MM);
    border-bottom: 2px solid var(--color-WW);
}
table.inline tr {
    background-color: var(--bg-color-M);
}
table.inline tr:hover {
    background-color: var(--bg-color-MM);
}
table.inline td {
    border: 1px solid transparent;
    border-left: 2px solid var(--bg-color-MM)
}
table.inline ul {
    padding-inline-start: 15px;
}

/* code blocks */
pre.literal-block {
    font-family: var(--font-mono);
    font-size: 0.85rem;
    background-color: var(--bg-color-M);
    border: 1px solid var(--bg-color-MM);
    border-radius: var(--radius-S);
    padding: 1rem;
    margin: 1rem 0;
    overflow: auto;
}
pre.literal-block .linenos {
    color: var(--color-WW);
}

/* inline code */
span.docutils.literal {
    font-family: var(--font-mono);
    font-size: 0.85rem;
    background-color: var(--bg-color-MM);
    color: var(--color-W);
    border-radius: 5px;
    padding: 2px 5px;
    text-wrap: nowrap;
}

/* admonitions */
aside.admonition {
    position: relative;
    border-radius: var(--radius-S);
    background-color: var(--bg-color-M);
    border: 1px solid var(--color-WW);
    /* top slightly bigger to account for title exceeding block height */
    padding: 1.3rem 1rem 1rem;
    margin: 1.4rem 0 1rem;

    .admonition-title {
        position: absolute;
        font-weight: bold;
        top: -10px;
        background: linear-gradient(0deg, var(--bg-color-M) 60%, transparent 100%);
        padding: 0 4px;
        border-radius: var(--radius-S);
        /*text-shadow: 0 0 5px var(--bg-color-M);;*/
        margin: 0;
    }

    > *:nth-child(2) {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}
aside.admonition.highlight-block {
    /* doesn't have title so no need for extra margin/padding */
    margin-top: 1rem;
    padding: 1rem;

    > *:first-child {
        margin-top: 0;
    }
}
aside.admonition.danger,
aside.admonition.error {
    border-color: var(--color-negative);

    .admonition-title {
        color: var(--color-negative);
    }
}
aside.admonition.attention,
aside.admonition.important {
    border-color: var(--color-attention);

    .admonition-title {
        color: var(--color-attention);
    }
}
aside.admonition.caution {
    border-color: var(--color-caution);

    .admonition-title {
        color: var(--color-caution);
    }
}
aside.admonition.hint {
    border-color: var(--color-hint);

    .admonition-title {
        color: var(--color-hint);
    }
}
aside.admonition.note {
    border-color: var(--color-info);

    .admonition-title {
        color: var(--color-info);
    }
}
aside.admonition.tip {
    border-color: var(--color-positive);

    .admonition-title {
        color: var(--color-positive);
    }
}
aside.admonition.warning {
    border-color: var(--color-warning);

    .admonition-title {
        color: var(--color-warning);
    }
}

aside.admonition pre.literal-block,
aside.admonition span.docutils.literal {
    background-color: var(--bg-color);
}

/* images */
img.inline {
    display: block;
}
img.inline.align-left,
figure.align-left {
    margin: unset;
    align-items: start;
}
img.inline.align-right,
figure.align-right {
    margin-left: auto;
    align-items: end;
}
img.inline.align-center,
figure.align-center {
    margin: auto;
    align-items: center;
}
img.inline.align-right,
figure.align-right {
    margin-left: auto;
    align-items: end;
}
figure.align-center img {
    margin: auto;
}
figure.align-right img {
    margin-left: auto;
}

/* table of contents */
nav.contents {
    position: relative;
    padding: 1rem;
    margin: 3rem 0 2rem;
    background-color: var(--bg-color-M);
    border-radius: var(--radius-S);
    border: 1px solid var(--color-primary);

    a:before {
        content: none;
    }

    .topic-title {

        position: absolute;
        margin: 0;
        background: linear-gradient(0deg, var(--bg-color-M) 60%, transparent 100%);
        padding: 0 0.5rem;
        top: -15px;

        font-weight: bold;
        font-size: 1.5rem;

        a {
            color: inherit;
        }
    }

    ul {
        margin: 0.5rem 0 0;
        padding-inline-start: 20px;
        list-style-position: outside;
        list-style-type: "▫ ";
        color: var(--color-W);
    }

    li {
        margin: 0.1rem 0;

        > * {
            margin: 0;
        }

        > p {
            display: inline;
        }
    }

    > div > ul > li > p {
        font-weight: 600;
    }

    > div > ul > li > ul > li > ul > li > p,
    > div > ul > li > ul > li > ul > li > ul > li > p {
        font-size: 0.9rem;
    }

}
@media screen and (min-width: 1600px) {
    aside.toc-wrapper {
        position: fixed;
        top: 15%;
        left: 2%;
    }

    nav.contents {
        position: sticky;
        padding: 0 0 0 1rem;
        margin: 10px 0 0;
        background-color: unset;
        border-width: 0 0 0 1px;
        border-style: solid;
        border-color: var(--color-WW);
        border-radius: 0;

        .topic-title {
            position: unset;
            padding: unset;
            background: unset;
            margin-bottom: 1rem;

            font-weight: 300;
            font-family: var(--font-B);
            letter-spacing: 2px;
        }
    }

    nav.contents > .toc-list {
        padding-left: 1rem;

        max-height: 60vh;
        overflow-y: auto;
        /* trick to have scrollbar on left*/
        direction: rtl;

        opacity: 0.5;
        line-height: 25px;
        font-size: 0.9rem;

        scrollbar-width: thin;

        a {
            color: var(--color);
        }

        * {
            /* reset scrollbar trick */
            direction: ltr;
        }

    }

}


.footnote > * {
    display: inline-block;
}
.footnote-list {
    font-size: 0.75rem;

    > * {
        margin: 0.5rem;
    }

    p {
        margin: 0;
    }
}

/* custom url-preview directive */
.url-preview-box {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin: 0.5rem 0 1rem;
    transition: 0.25s;

    > a {
        /*trick from https://stackoverflow.com/a/67156294/13806195 */
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
.url-preview-box:hover {
    transform: scale(1.05);
}
.url-preview-details {
    width: 100%;
    background-color: var(--bg-color-MM);
    border-radius: var(--radius-S);
    padding: 1rem;
}
.url-preview-image {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    color: var(--color-WW);
    max-width: 160px;
}
@media screen and (max-width: 500px) {
    .url-preview-image {
        max-width: 90px;
    }
}
.url-preview-image img {
    border-radius: var(--radius-S);
    object-fit: cover;
    min-height: 100%;
    width: 100%;
}
.url-preview-title {
    font-weight: 800;
    margin: 0;
}
.url-preview-subtitle {
    display: flex;
    margin-bottom: 0.5rem;
}
.url-preview-subtitle a {
    font-size: 0.8rem;
    color: var(--color-WW);
}
.url-preview-subtitle a::before {
    all: initial;
}
.url-preview-description {
    margin: 0;
    font-size: 0.9rem;
    color: var(--color-W);

    *:first-child {
        margin-top: 0;
    }

    *:last-child {
        margin-bottom: 0;
    }

}

/* custom image-grid directive */
.image-grid {
    display: flex;
    flex-direction: column;

    .image-grid-row {
        white-space: nowrap;
        /* this a hack to remove the whitespace between inline-block items*/
        font-size: 0;
    }

    figure {
        display: inline-block;
        position: relative;
        margin: 0;
    }

    img {
        width: 100%;
        height: 100%;
    }

    figcaption {
        margin: 0;
        opacity: 0;
        text-wrap: wrap;
        font-size: 0.75rem;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0.5rem;
        /*background: linear-gradient(0deg, rgba(0,0,0,0.8) 10%, transparent 100%);*/
        background-color: rgba(0, 0, 0, 0.5);
    }

    figure:hover figcaption {
        opacity: 1;
    }

    figcaption > * {
        margin: 0;
    }
}
@media screen and (max-width: 600px) {
    .image-grid figure {
        display: block;
        margin: auto;
        width: unset !important;
    }
}

:root {
    --image-gallery-spacing: 2rem;
}

/* custom image-gallery directive */
/* this is a 2 colum layout with ul sticking on left or right */
.image-gallery {
    display: flex;
    flex-direction: row;
    gap: var(--image-gallery-spacing);

    font-weight: 300;

    p, img, ul, div.line-block {
        margin-top: var(--image-gallery-spacing);
        margin-bottom: var(--image-gallery-spacing);
        width: 100%;
    }

    .img-fullscreen {
        display: flex;
        position: fixed;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        height: 100vh;
        width: 100vw;
        max-width: unset;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.85);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.35s;
    }

    .img-fullscreen img {
        object-fit: contain;
        margin: 2rem;
        padding: 0;
    }

    .img-fullscreen:target {
        visibility: visible;
        opacity: 1;
    }

    .responsive {
        display: none;
    }

    .left {
        display: initial;
    }

    .right {
        display: initial;
    }

    .image-wrapper {

        position: relative;

        ul {
            margin-top: auto;
            margin-bottom: auto;
            position: absolute;
            top: 50%;
            /* "translate": trick to take in account own height */
            /* "perspective": trick to avoid blury font rendering with transform */
            transform: perspective(1px) translateY(-50%);

            padding-inline-start: 0;
            list-style: none;

            opacity: 0;
            letter-spacing: -6px;
            transition: letter-spacing 0.3s, opacity 0.2s;

            p {
                margin: 0;
            }

        }
    }

    .left ul {
        text-align: right;
        margin-left: calc(-1 * var(--image-gallery-spacing));
        left: -100%;
    }

    .right ul {
        text-align: left;
        margin-right: 0;
        left: calc(100% + var(--image-gallery-spacing));
    }

    .responsive ul {
        letter-spacing: unset;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 400;
        color: var(--color-WW);
    }

    .left .image-wrapper:hover ul,
    .right .image-wrapper:hover ul {
        opacity: 0.65;
        letter-spacing: unset;
    }
}
@media screen and (max-width: 1000px) {
    .image-gallery {
        .responsive {
            display: flex;
            flex-direction: column;

            ul, ul:hover {
                position: relative;
                top: unset;
                left: unset;
                transform: unset;
                opacity: 1;
            }
        }

        .left {
            display: none;
        }

        .right {
            display: none;
        }
    }
}
