.src-md code.txt-dl,
.src-md code.txt-ai,
.src-md code.txt-prman {
    padding: 1px 4px;
    border-radius: 2px;
}
.src-md code.txt-dl {
    background-color: rgba(218, 62, 62, 0.76)
}
.src-md code.txt-ai {
    background-color: rgba(40, 180, 183, 0.8)
}
.src-md code.txt-prman {
    background-color: rgba(37, 147, 224, 0.76)
}

.split-50-50 {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}
.split-50-50 > * {
    width: 49%;
    object-fit: cover;
}
