{% extends ".base.html" %}
{% block main %}
  <article>
    <section id="decorative-header"><p>resources.exe</p></section>
    <section id="header">
      <h1>{{ Page.title }}</h1>
      {%- if Page.metadata.description %}
        <p id="post-description" title="the post description">{{ Page.metadata.description }}</p>
      {%- endif %}
    </section>
    {{ Page.html_content }}
    <section id="resource-library">
      {%- for category, pages in Shelf.group_children_by_metadata("category", ignore_index=True).items() %}
        <h2>{{ category }}</h2>
        <div class="resource-category-library">
          {%- for page in pages %}
            <a href="{{ page.url_path|mkpagerel }}">
              <div class="resource-item">
                <div class="row">
                  <div class="image">
                  {% if page.metadata.image %}
                    <img src="{{ page.metadata.image|mksiterel(page.url_path)|mkpagerel }}" alt="{{ page.metadata.image_alt }}">
                  {% endif %}
                  </div>
                  <div class="information">
                    <h3>{{ page.title }}</h3>
                    <p class="post-description">{{ page.metadata.description }}</p>
                  </div>
                </div>
                <div class="tags">
                  {%- for tag in page.metadata.keywords %}
                    <pre class="tag" title="a post keyword">{{ tag }}</pre>
                  {%- endfor %}
                </div>
              </div>
            </a>
          {%- endfor %}
        </div>
      {%- endfor %}
    </section>
  </article>
{% endblock %}