{% extends ".base.html" %}
{% block main %}
  <article class="read-area">
    <section id="article-header">
      {%- if Page.metadata.extras.get("category") %}
        <p id="post-category" title="the post category">{{ Page.metadata.extras["category"] }}</p>
      {%- endif %}
      <div class="metadata-tags">
        {%- for tag in Page.metadata.keywords %}
          <pre class="metadata-tag" title="a post keyword" style="animation-delay: {{ range(1,10)|random / 10 }}s">{{ tag }}</pre>
        {%- endfor %}
      </div>
      <h1>{{ Page.title }}</h1>
      {%- if Page.metadata.description %}
        <p id="post-description" title="the post description">{{ Page.metadata.description }}</p>
      {%- endif %}
      <div class="metadata-essential">
        {%- if Page.metadata.date_created %}
          <span title="Date Created.">
            {% include '.static/icons/calendar.svg' %}
            <time datetime="{{ Page.metadata.date_created.isoformat() }}">{{ Page.metadata.date_created.strftime("%d %B %Y") }}</time>
          </span>
        {%- endif %}
        {%- if Page.metadata.date_modified %}
          <span title="Date Modified.">
            {% include '.static/icons/calendar-edit.svg' %}
            <time datetime="{{ Page.metadata.date_modified.isoformat() }}">{{ Page.metadata.date_modified.strftime("%d %B %Y") }}</time>
          </span>
        {%- endif %}
        {%- if Page.metadata.authors %}
          <span title="Persons who authored the document.">
            {% include '.static/icons/account.svg' %}
            {{ ", ".join(Page.metadata.authors) }}
          </span>
        {%- endif %}
      </div>
    </section>
    {{ Page.html_content }}
  </article>
{% endblock %}