section#resource-library {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.resource-item {
    margin-top: 5px;
    padding: 1rem;
    height: 100%;
    /*max-width: 50%;*/
    position: relative;

    background-color: var(--bg-color-M);
    border: 1px solid var(--color-WW);
    /*border-radius: var(--radius-S);*/

    .post-category {
        padding: 0 3px;
        position: absolute;
        top: -12px;

        background: linear-gradient(0deg, var(--bg-color-M) 40%, transparent 60%);
        color: var(--color-WW);
        letter-spacing: 2px;
    }

    h2 {
        margin: 0 0 0.7rem;
        padding: 0.5rem;
        font-size: 1.2rem;
        color: var(--color-primary);
        border: 1px solid var(--color-WW);
    }
    img {
        border: 1px solid var(--color-WW);
        border-radius: var(--radius-S);
        margin: 0 0 0.5rem;
    }
    .post-description {
        font-size: 0.8rem;
        color: var(--color-W);
        margin: 0 0 0.5rem;
        /*text-align: center;*/
        font-family: var(--font-mono);
    }
}
.resource-item:hover {
    transform: translate(-10px, -10px);
    box-shadow: rgba(0,0,0,0.5) 10px 10px;
    border-color: var(--color-primary-WW);
}