{% extends ".base.html" %}
{% block main %}
  <article class="read-area">
    <section id="article-header">
      <div class="article-header-content">
        <span id="article-header-decoration"></span>
        <h1 class="hover-expand-n-shrink">{{ Page.title }}</h1>
        <section id="metadata-footer">
          {%- if Page.metadata.description %}
            <p id="post-description" title="the post description">{{ Page.metadata.description }}</p>
          {%- endif %}
        </section>
      </div>
    </section>
    {{ Page.html_content }}
    <section id="blog-posts">
      {%- for page in Shelf.iterate_children_by_last_created(reverse=True) %}
        {%- if page is not sameas(Page) %}
          <div class="blog-post">
            <span class="date-created" title="Date Created.">
              {% include '.static/icons/calendar.svg' %}
              <time datetime="{{ page.metadata.date_created.isoformat() }}">{{ page.metadata.date_created.strftime("%d %B %Y") }}</time>
            </span>
            <a href="{{ page.url_path|mkpagerel|prettylink }}"><h2>{{ page.title }}</h2></a>
            <p class="post-description">{{ page.metadata.description }}</p>
            <div class="metadata-tags">
              {%- for tag in page.metadata.keywords %}
                <pre class="metadata-tag floating-up" title="a post keyword" style="animation-delay: {{ range(1,10)|random / 10 }}s">{{ tag }}</pre>
              {%- endfor %}
            </div>
          </div>
        {%- endif %}
      {%- endfor %}
    </section>
  </article>
{% endblock %}