article.read-area {
    margin-top: 2rem;
}

img.blog-cover {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: var(--radius-S);
    margin-bottom: 2rem;
}

h1 {
    margin-top: 0.5rem;
    font-weight: 800;
    color: var(--color-M);
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--color-primary);
}

div.article-header-content {
    position: relative;

    #article-header-decoration {

        --size: 295px;

        position: absolute;
        z-index: -1;
        left: calc(50% - var(--size) / 2);
        bottom: calc(50% - var(--size) / 2);
        width: var(--size);
        height: var(--size);
        border: 1px solid rgba(255,255,255,0.3);
        border-radius: 500px;
    }

}

section#metadata-header {
    /*margin: 1rem;*/

    display: flex;
    flex-direction: column;
    justify-content: center;

    .metadata-categories {
        display: flex;
        justify-content: center;
    }

    #post-category {
        /*padding: 5px 8px;*/
        margin: 0;

        /*border: 1px solid var(--color-WW);*/
        /*border-radius: var(--radius-S);*/
        /*background-color: var(--bg-color-M);*/

        font-family: var(--font-B);
        font-weight: 300;
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;

    }
}

section#metadata-footer {
    margin-bottom: 3rem;

    display: flex;
    flex-direction: column;

    font-size: 0.9rem;
    color: var(--color-W);
    /*border-left: 1px solid var(--color-primary);*/
    /*padding-left: 1rem;*/

    p#post-description {
        margin: 8px 0;

        text-align: center;
        letter-spacing: 1px;
        /*padding: 0.5rem;*/
        /*border: 1px solid var(--color-primary);*/
        /*border-radius: var(--radius-S);*/
    }
    div.metadata {
        margin: 0.5rem 0;
        padding: 0.8rem;

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        border: 1px solid var(--color-WW);
        border-radius: var(--radius-S);
        background-color: var(--bg-color-M);
    }
    div.metadata-essential {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        span {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.15rem;

            img, svg {
                width: 18px;
            }
        }
    }

    @media screen and (max-width: 500px) {
        div.metadata-essential {
            flex-direction: column;

            hr {
                display: none;
            }

        }
    }

}

div.metadata-tags {

    margin-top: 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    /*padding: 3px 6px;*/
    /*border: 1px solid var(--bg-color-MM);*/
    /*background-color: var(--bg-color);*/
    /*border-radius: var(--radius-S);*/
}
.metadata-tag {
    margin: 0;

    padding: 3px 6px;
    /*border: 1px solid var(--bg-color-MM);*/
    color: var(--color-primary);
    background-color: var(--color-primary-WWW);
    border-radius: var(--radius-S);
    font-size: 0.7rem;

}

@keyframes floating-up {
    0% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(+3px);
    }
}
.floating-up {
    transform: translateY(-3px); /* to avoid harsh transition on anim start */
    animation-name: floating-up;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}