.src-md .diagram {

    svg {
        width: 100%;
        height: 100%;
        background-color: unset !important;
    }

    a:before {
        content: unset;
        background: unset;
    }
}
.src-md .diagram:hover a svg {
    border-radius: var(--radius-S);
    background-color: var(--bg-color-MM) !important;
    padding: 10px;
}

.src-md figcaption {
    border-left: 1px solid var(--color-WW);
    padding-left: 1rem;
}
.src-md .column-split {
    display: flex;
    gap: 1rem;

    > * {
        flex: 1;
        margin: 0;
    }
}