html {
    /* slighty bigger to help readability */
    font-size: 17px;
}
img.blog-cover {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: var(--radius-S);
    margin-bottom: 2rem;
}
.post-status-unlisted,
.post-status-unpublished {
    margin: auto;
    padding: 5px;
    border-radius: var(--radius-S);
    text-align: center;
    opacity: 0.8;
}
.post-status-unlisted {
    border: 1px solid var(--color-attention);
    background-color: var(--color-attention-WW);
    color: var(--color-attention);
}
.post-status-unpublished {
    border: 1px solid var(--color-negative);
    background-color: var(--color-negative-WW);
    color: var(--color-negative);
}