
@font-face {
  font-family: "JetBrains Mono";
  src: url("/assets/JetBrainsMono-Medium.ttf");
}

:root {
  /*  !* Default color shades *!*/
  /*--md-default-fg-color:               rgb(57, 217, 147);*/
  /*--md-default-fg-color--light:        rgb(57, 217, 147);*/
  /*--md-default-fg-color--lighter:      rgb(57, 217, 147);*/
  /*--md-default-fg-color--lightest:     rgb(57, 217, 147);*/
  /*--md-default-bg-color:               rgb(57, 217, 147);*/
  /*--md-default-bg-color--light:        rgb(57, 217, 147);*/
  /*--md-default-bg-color--lighter:      rgb(57, 217, 147);*/
  /*--md-default-bg-color--lightest:     rgb(57, 217, 147);*/

    /* Primary color shades */
  --md-primary-fg-color: rgb(57, 217, 147);
  --md-primary-fg-color--light:        rgb(97, 225, 160);
  --md-primary-fg-color--dark:         rgb(63, 174, 118);
  /*--md-primary-bg-color:               rgb(57, 217, 147);*/
  /*--md-primary-bg-color--light:        rgb(57, 217, 147);*/

  /*   !* Accent color shades *!*/
  /*--md-accent-fg-color:                rgb(57, 217, 147);*/
  /*--md-accent-fg-color--transparent:   rgb(57, 217, 147);*/
  /*--md-accent-bg-color:                rgb(57, 217, 147);*/
  /*--md-accent-bg-color--light:         rgb(57, 217, 147);*/

  /*!* Code block color shades *!*/
  /*--md-code-bg-color:                  rgb(57, 217, 147);*/
  /*--md-code-fg-color:                  rgb(57, 217, 147);*/

}


/* ADMONITION */

.md-typeset .admonition.note, .md-typeset details.note {
	border-color: rgba(10,180,115,0.9);
}

.md-typeset .note > .admonition-title, .md-typeset .note > summary {
	background-color: rgba(150, 61, 163, 0.2);
}

.md-typeset .note > .admonition-title::before, .md-typeset .note > summary::before {
	background-color: rgba(10,180,115,1);
}

/*end*/


p{
  font-size: 16px;
}


h2{
  padding-top: 4px;
  color: rgb(97, 225, 160);
}
h3{
  padding-top: 25px;
}

.md-header{
  height: 60px;
  background: linear-gradient(90deg, rgba(0,36,24,1) 0%, rgba(20,20,20,1) 35%, rgba(20,20,20,1) 100%);
  /*border-top: 3px solid #5863F8;*/
}
.md-header-nav__topic{
  text-shadow: rgba(10,10,10,0.25) 1px 0 10px;
  font-size: 25px;
  /*font-weight: bold;*/
  /*font-family: "JetBrains Mono";*/
}

.md-tabs{
  background: linear-gradient(90deg, rgba(36,0,26,1) 0%, rgba(121,9,94,1) 35%, rgba(0,255,162,1) 100%);
}
