:root {
    font-family: sans-serif;
    --background-color: rgb(20, 20, 20);
    --color: #dcdcdc;
    --font-B: Montserrat, sans-serif;
    --font-C: Georama, sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--background-color);
    color: var(--color);
}
/*===========================================================================*/
/* header styling */
header {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 15px 3%;
}
header > * {
    grid-column-start: 1;
    grid-row-start: 1;
}
header a, header a:visited {
    text-decoration: unset;
    color: unset;
}
header #site-name {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;

    font-family: var(--font-B);
    font-weight: 200;
    font-size: 1.9rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
header #site-name img {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.35;
    margin: 0 -2rem 0;
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
header #site-name:hover img {
    transform: rotate(360deg);
}

header nav ul {
    list-style: none;
    align-items: center;
    display: flex;
    column-gap: 1rem;
    margin: unset;
    padding: unset;
    flex-wrap: wrap;

    text-align: center;
    font-family: var(--font-B);
    font-weight: 200;
    font-size: 1.5rem;
    text-transform: uppercase;
    /*letter-spacing: 1px;*/
}
/* === font weight trick: require 2 overlapped spans === */
/*have the 2 span overlap themselves with grid layout*/
header nav li a {
    display: grid;
}
header nav li a > * {
    grid-column-start: 1;
    grid-row-start: 1;
}
/*switch between the 2 span using opacity*/
header nav li span {
    font-weight: 200;
    transition-duration: 0.3s;
    transition-property: opacity;
}
header nav li.active span {
    font-weight: 600;
}
header nav li span:first-child {
    font-weight: 600;
    opacity: 0;
}
header nav li:hover span {
    opacity: 0;
}
header nav li:hover span:first-child {
    opacity: 1;
}
@media screen and (max-width: 1250px) {
    header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    header #site-name {
        width: unset;
    }
    header nav {
        width: 100%;
    }
    header nav ul {
        justify-content: space-evenly;
    }
}
/*===========================================================================*/
/* main styling */
main {
    flex: 1;
}
/*===========================================================================*/
/* footer styling */
footer {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    opacity: 0.6;
    text-align: center;
}
footer i {
    font-family: monospace;
}
footer a, footer a:visited {
    text-decoration: unset;
    color: unset;
}
footer a:hover {
    text-decoration: underline;
}
footer p:nth-child(2) {
    font-size: 0.6rem;
}
footer p {
    margin: unset;
}
footer p:nth-child(2):hover {
	animation-name: color-rainbow;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}
@keyframes color-rainbow {
    0% {
        color: rgb(218, 70, 70);
    }
    15.1% {
        color: rgb(229, 126, 50);
    }
    29.5% {
        color: rgb(229, 239, 67);
    }
    45.8% {
        color: rgb(118, 210, 114);
    }
    61.5% {
        color: rgb(107, 208, 208);
    }
    76.4% {
        color: rgb(90, 95, 225);
    }
    92.4% {
        color: rgb(204, 106, 231);
    }
}
