/*
Aditional css for m.css

s&r variables :
    --screen-small : 500px;

*/



/* ============================================================================
    1. LAYOUT
*/


/* --------------------
    1.2 Layouts Objects
---------------------*/



/*--------------
    1.2.1 HEADER
--------------*/


#nav-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 3rem 0;
}
#logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    margin: 0.6rem;
}
#logo-img {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.25;
    margin: 0 -2rem 0;
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;

}
#logo:hover #logo-img {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.logo-txt {
    color: rgba(243, 243, 243, 0.7);
    font-family: Montserrat, sans-serif;
    font-weight: 100;
    font-size: 1.9rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.l-nav-menu {
    margin: 1rem 0 1rem;
}
.l-nav-menu ol {
    all: unset;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.l-nav-menu li {
    all: unset;
    margin: 0.5rem;
}
.l-nav-menu a {
    color: rgba(243, 243, 243, 0.95);
    font-family: Montserrat, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.l-nav-menu a:hover {
    /*color: var(--link-active-color);*/
    font-weight: 600;
    letter-spacing: 0;
}
/*class shoudl be assigned to the menu currently active (user clicked on it)*/
.l-nav-menu .l-nav-active {
    color: var(--color);
    font-weight: 600;
    letter-spacing: 0;
    opacity: 1;
}

/*LIGHT THEME*/
/*body > header {*/
/*    background-color: rgb(241, 241, 241);*/
/*}*/
/*.l-nav-menu a {*/
/*    color: rgb(10,10,10);*/
/*}*/
/*.logo-txt {*/
/*    color: rgb(10, 10, 10);*/
/*}*/

/*------------END HEADER-----------------------------------------------------*/


/*
l-post-context
row of widgets giving contextual informations about the article
use flex-box
*/
.l-post-context {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.l-post-context img{
    display: inherit;
    margin-right: 0.5rem;
    width: 20px;
}
.l-post-context time{
    display: inherit;
}
.l-post-context a{
    display: inherit;
}
/*
l-article-header
post context + h1 + summary
 */
.l-article-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
#m-jumbo .l-article-header {
    align-items: center;
}
#m-jumbo .l-article-header h1 {
    text-align: center;
}
#m-jumbo .l-article-header p {
    text-align: center;
}

/*
l-box-filters
Hold the filters used for articles display.
*/
.l-box-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (max-width: 500px) {
    .l-box-filters {
        flex-direction: row;
    }
}
.l-box-filters > .l-flex-item {
    flex-basis: 100%;
}

/*
.l-flex-c
Simple flexbox, column orientation,
*/
.l-flex-c {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/*
.l-flex-r
Simple flexbox, row orientation,
*/
.l-flex-r {
    display: flex;
    flex-direction: row;
}
/*
Used to configure a flexbox container
*/
.l-flex-center {
    align-items: center;
}
.l-flex-left {
    align-items: flex-start;
}
.l-flex-right {
    align-items: flex-end;
}
.l-flex-baseline {
    align-items: baseline;
}

.l-gap-1 {
    gap: 1rem;
}
.l-gap-2 {
    gap: 2rem;
}
.l-flex-shrink-0 {
    flex-shrink: 0;
}
.l-flex-shrink-1 {
    flex-shrink: 1;
}
.l-flex-shrink-2 {
    flex-shrink: 2;
}
.l-flex-grow-0 {
    flex-grow: 0;
}
.l-flex-grow-1 {
    flex-grow: 1;
}
.l-flex-grow-2 {
    flex-grow: 2;
}


/*
.l-invisble
make content not visible
*/
.l-invisible {
    display: none;
}


/*--------------------
    1.2 Layout Widgets
--------------------*/


/*
l-flex-item
Should correspond to the direct child of a flexbox.
*/
.l-flex-item {
    margin: 0.5rem 0.4rem 0.5rem;
}
@media screen and (max-width: 500px) {
    .l-flex-item {
        margin: 0.3rem 0.2rem 0.3rem;
    }
}
/*this version has a smaller margin*/
.l-flex-item-s {
    margin: 0.5rem 0.2rem 0.5rem;
}

/*
l-filler
empty object used to align items
*/
.l-filler {
    display: inherit;
    flex-grow: 1;
}


/*-------------
    1.3 Margins
-------------*/


/*
.l-nomrg
Remove margin
 */
.l-nomrg {
    margin: unset;
}
/*
.l-mrg-s
add a bottom/top margin with a very small size
*/
.l-mrg-xs {
    margin: 0.25rem 0 0.25rem;
}

/*
.l-mrg-s
add a  bottom/top margin with a small size
*/
.l-mrg-s {
    margin: 0.5rem 0 0.5rem;
}
/*
.l-mrg-m
add a  bottom/top margin with a medium size
*/
.l-mrg-m {
    margin: 1rem 0 1rem;
}
.l-mrg-l {
    margin: 2rem 0 2rem;
}


/* ============================================================================
    2. SHAPING
*/



/*-------------------------------------
    2.1 Background colors & text colors
-------------------------------------*/


.l-bgc-grey {
    background-color: rgb(176,176,176);
}
.l-bgc-yellow-l {
    background-color: var(--warning-color);
}
.l-bgc-red-l {
    background-color: var(--danger-filled-color);
}
.l-c-ldark {
    color: rgb(16,16,16);
}
.l-c-color {
    color: var(--color);
}


/* -------------
    TEXT STYLING
 -------------*/


.l-txt-titleA {
    font-weight: 700;
    font-size: 1.5rem;
}


/*-------------
    2.2 Widgets
-------------*/


/*
l-tag
tags are <a> with a defined style.
They have a big round corner with a green tint background.
*/
.l-tag {
    background-color: rgba(96, 198, 142, 0.3);
    border-radius: 2rem;
    padding: 0.07rem 0.6rem;
    white-space: nowrap;
    font-style: normal;
    font-size: 0.8rem;
}
.l-tag > a {
    text-decoration: none;
}
.l-tag > a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 500px) {
    .l-tag {
        font-size: 0.65rem;
    }
}
/*
l-category
special text styling used for post category (in title header)
background filled in grey with no corner and dark text
*/
.l-category {
    background-color: rgb(176,176,176);
    border-radius: 0;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
    font-weight: 700;
    font-size: 1.15rem;
}
@media screen and (max-width: 500px) {
    .l-category {
        font-size: 1rem;
        padding-right: 0.6rem;
    }
}
.l-category > a {
    color: rgb(20,20,20);
    text-decoration: none;
}
.l-category > a:hover {
    text-decoration: underline;
}
/*
l-box-author
A box to layout authors items
*/
.l-box-author {
    display: inherit;
}
/*
l-author
Represent an article's author
*/
.l-author {
    display: inherit;
}
.l-author a {
    display: inherit;
    color: var(--color);
    text-decoration: none;
}
.l-author a:hover {
    color: var(--link-color);
    text-decoration: underline;
}

/*
l-txt-invisible
Turn text to non-visible by setting its size to 0
*/
.l-txt-invisible {
    font-size: 0;
}
/*
l-time
the article creation date (with the icon)
*/
.l-time{
    display: inherit;
    margin-right:0.5rem;
}
/*
l-modified
Used to display the last modified time for the article.
circle corner witha dark green background and white text.
*/
.l-modified {
    display: inherit;
    background-color: rgba(96, 198, 142, 0.3);
    border-radius: 1rem;
    padding: 0.07rem 0.6rem;
    margin-right:0.5rem;
    white-space: nowrap;
    font-style: normal;
    font-size: 0.8rem;
}
/*
l-status
Used to display a status message in a rounded corner box (slightly)
text is in in italic, bgc to be defined using additional classes.
*/
.l-status {
    display: inherit;
    border-radius: 0.15rem;
    padding:0.2rem 0.4rem 0.2rem;
    margin-right:0.5rem;
    white-space: nowrap;
    font-style: normal;
    font-size: 0.8rem;
}
/*
contents
The table of content of the article
*/
#contents {
}
#contents a {
    text-decoration: none;
}
#contents li {
    margin: 0.2rem 0 0;
}
#contents > ul > li > a {
    font-weight: 600;
}
#contents > ul > li > ul > li > ul > li > a,
#contents > ul > li > ul > li > ul > li > ul > li > a
{
    font-size: 0.9rem;
}
/*
l-gradient-line
Used on header for now
 */
.l-gradient-line {
    background: var(--l-gradient-main);
    width: 100%;
    height: 2px;
}
/*
l-line-xs
A simple very thin solid line
*/
.l-line-xs {
    border-top: solid 0.1rem rgba(255,255,255,0.1);
    margin: 0.9rem 0 0.9rem;
    width: 100%;
}
footer .l-line-xs {
    margin: 1.5rem 0 1.5rem;
}
@media screen and (max-width: 500px) {
    .l-line-xs {
        width: 90%;
        margin: 0.9rem 0.9rem 0.9rem;
    }
}
/*
l-line-v-xs
vertical thin solid line
*/
.l-line-v-s {
    border-right: solid 0.2rem rgba(255,255,255,1);
    margin: 0 0.9rem 0;
}
#filters .l-line-v-s {
    border-color: var(--primary-color);
}
/*
l-img-btn-a
TODO rename class
 */
.l-img-btn-a {
    transition: transform .2s;
}
.l-img-btn-a:hover {
    transform: scale(1.2);
}
/*
jumbo article header
*/
#cover-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    padding-top: 22rem;
    margin: 2rem 0 2rem;
}

@media screen and (max-width: 500px) {
    #cover-img {
        padding-top: 15rem;
    }
}

article#m-jumbo h1 {
    font-size: 4rem;
}
@media screen and (max-width: 500px) {
    article#m-jumbo h1 {
        font-size: 3rem;
    }
}
/*
l-btn-discord
*/
.l-btn-discord {
    border-radius: 0.5rem;
    background-color: rgb(88, 101, 242);
    padding: 0.5rem;
}
.l-btn-discord:hover {
    background-color: rgb(125, 136, 242);
}
.l-btn-discord > a{
    color: var(--color);
    font-weight: 800;
    font-size: 1rem;
    text-decoration: none;
}
.l-btn-discord-img {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 0.4rem 0;
}
/*
l-box-discord
*/
.l-box-discord {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    background-color: rgba(88,101,242,0.5);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}
.l-box-discord p {
    margin: 0 0 0.2rem;
}

/*------------------------------
    2.2.1 Article Filter Widgets
    from: https://codepen.io/Wendy-Ho/pen/MWWBvmd?editors=1100
------------------------------*/

#filters {
    display: flex;
    flex-direction: row;
    margin: 2rem 0 2rem;
}
#filters .l-line-xs {
    margin: 0.1rem 0 0.1rem;
}

.l-filters-title {
    padding: 0.3rem 0.8rem 0.3rem;
    background-color: rgb(44,47,52);
    border-radius: 0.2rem;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0.1rem;
}
.l-filters-title:before {
    content: "";
    background: url("/static/images/global/icons/filter.svg") no-repeat bottom;
    background-size: 14px;
    width: 1rem;
    height: 1rem;
    display: inline-block;
}

.l-filters-box {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    background-color: rgb(12,12,12);
    border-radius: 0.8rem;
    box-shadow: 0 0 1.5rem rgba(0,0,0,0.8);
}

.l-radio-none {
    display: none;
}

.l-filters-tab {
    cursor: pointer;
    display:inline-block;
    font-weight: 700;
    font-size: 1rem;
    margin: 0.5rem;
}
#filter-tab-D {
    font-family: Montserrat, sans-serif;
    font-weight: 100;
}

.l-filters-tab:hover {
    transform: scale(1.1);
}

.l-filters-panels-box {
    overflow: hidden;
}

.l-filters-panel {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0.5rem;
    animation: fadein 0.8s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*the part after ~ must be relative to the position of the radio
this explain the .some-class before the id.
*/
#filter-A:checked ~ .l-filters-panels-box #filter-panel-A,
#filter-B:checked ~ .l-filters-panels-box #filter-panel-B,
#filter-C:checked ~ .l-filters-panels-box #filter-panel-C {
  display: flex;
}
#filter-A:checked ~ .l-filters-toolbar #filter-tab-A,
#filter-B:checked ~ .l-filters-toolbar #filter-tab-B,
#filter-C:checked ~ .l-filters-toolbar #filter-tab-C
{
  color: var(--primary-color);
}
/*--- END 2.2.1 ---*/


/*============================

    index.hmtl custom widgets

===========================*/

.indexA {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 70vh;
    overflow: hidden;
}
.indexA .l-content {
    max-width: 35rem;
    margin: 4rem 5rem 4rem 50%;
}
.indexA .l-content p {
    font-family: Georama, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    text-align: unset;
}
.indexA .l-content .l01 {
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
}
.indexA .l-content .l02 {
    font-weight: 700;
    font-size: 2.25rem;
}
.indexA .l-content .ldescription {
    margin-top: 0.6rem;
    margin-bottom: 0.8rem;
}
.indexA .l-content .lsocial {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.indexA .l-content .lsocial .l-social-image img {
    width: 50px;
    opacity: 0.8;
    transition: 0.25s;
}
.indexA .l-content .lsocial .l-social-image img:hover,
.indexA .l-content .lsocial .l-social-image img:focus
{
    opacity: 1;
    transform: scale(1.2);
}
.indexA > video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    z-index: -1;
}
@media screen and (max-width: 1180px) {
    .indexA > video {
        transform: translate(-15%, 0);
    }
    .indexA .l-content {
        margin-left: 40%;
    }

}
@media screen and (max-width: 900px) {
    .indexA > video {
        transform: translate(-35%, 0);
    }
    .indexA .l-content {
        max-width: 35rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }
}
@media screen and (max-width: 600px) {
    .indexA .l-content .l01 {
        font-weight: 700;
        font-size: 2.1rem;
    }
    .indexA .l-content .l02 {
        font-weight: 500;
        font-size: 1.22rem;
    }
    .indexA .l-content .lsocial {
        justify-content: flex-start;
    }
    .indexA .l-content .lsocial .l-social-image img {
        width: 46px;
        margin: 0 0.5rem 0;
    }

}
/*________
    indexB
*/
.indexB {
    position: relative;
    background-color: rgba(12, 19, 30, 0.5);
}
.indexB > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    z-index: -1;
}
.indexB button {
    background-color: rgba(250,255,255,0.1);
    color: var(--color);
    font-family: Georama, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid rgba(170, 183, 229, 0.2);
    border-radius: 0.1rem;
    padding: 1rem 4rem 1rem;
    cursor: pointer;
    transition: 0.25s;
}
.indexB button:hover {
    transform: scale(1.2);
}
.indexB .l-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.indexB .l-embed iframe,
.indexB .l-embed object,
.indexB .l-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.l-index-h2 {
    color: rgb(250,250,250);
    opacity: 0.5;
    font-family: Montserrat, sans-serif;
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0.5rem 1rem 0.5rem;
    position: absolute;
    top: -37px;
    left: 4vh;
}
.l-index-h2:hover {
    opacity: 0.65;
}
@media screen and (max-width: 900px) {
    .l-index-h2 {
        font-size: 2.4rem;
    }

}
/*________
    IndexC
*/
.indexC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 51vh;
}
.indexC h2 {
    margin-top: 2rem;
}
.indexC h2 a {
    color: rgb(250,250,250);
    opacity: 0.5;
    font-family: Montserrat, sans-serif;
    font-size: 5rem;
    font-weight: 100;
    text-transform: uppercase;
}
.indexC h2 a:hover {
    opacity: 0.65;
}
.l-latest-posts {
    margin: 1rem;
}
.l-latest-posts h3 a {
    color: rgb(250,250,250);
    opacity: 0.55;
}

.l-latest-posts li time {
    font-family: Source Sans Pro, sans-serif;
    font-size: 0.8rem;
    width: 8rem;
}
.l-latest-posts li {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 600px) {
    .l-latest-posts li {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0.9rem;
    }
}
