@font-face {
    font-family: 'Escabeau';
    src: url('Escabeau.woff2') format('woff2'),
    url('Escabeau.woff') format('woff'),
    url('Escabeau.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}