<section class="indexA">
  <video muted loop autoplay>
    <source src="/static/images/global/backgroundA.mp4" type="video/mp4">
  </video>
  <div class="l-content">
    <p class="l01">Liam Collod</p>
    <p class="l02">Surfacing - Lighting - TD</p>
    <p class="ldescription">
      Hey there, I'm a French VFX artist for 6 years now.
      I have a strong interest in everything that is rendering-related, but I specialized myself in Lighting. <br>
      I’m combining my strong artistic and technical skills to help myself and other optimizing their creation workflow.
    </p>
    <div class="lsocial">
      <div class="l-social-image">
        <a href="https://www.linkedin.com/in/liam-collod/">
          <img alt="linkedin" src="https://mrlixm.github.io/static/images/global/social/linkedin.svg" style="width: 50px">
        </a>
      </div>
      <div >
        <a href="https://www.artstation.com/monsieur_lixm">
          <img alt="artstation" src="https://mrlixm.github.io/static/images/global/social/artstation.svg" style="width: 50px">
        </a>
      </div>
      <div class="l-social-image">
        <a href="https://twitter.com/MrLixm">
          <img alt="twitter" src="https://mrlixm.github.io/static/images/global/social/twitter.svg" style="width: 50px">
        </a>
      </div>
      <div class="l-social-image">
        <a href="https://github.com/MrLixm">
          <img alt="github" src="https://mrlixm.github.io/static/images/global/social/github.svg" style="width: 50px">
        </a>
      </div>
      <div class="l-social-image">
        <a href="mailto:lcollod@gmail.com">
          <img alt="email" src="https://mrlixm.github.io/static/images/global/social/email.svg" style="width: 50px">
        </a>
      </div>
      <div class="l-social-image">
        <a href="https://www.youtube.com/c/LiamCollod">
          <img alt="youtube" src="https://mrlixm.github.io/static/images/global/social/youtube.svg" style="width: 50px">
        </a>
      </div>
      <div class="l-social-image">
        <a href="https://gumroad.com/pyco">
          <img alt="gumroad" src="https://mrlixm.github.io/static/images/global/social/gumroad.svg" style="width: 45px;margin:0.2rem">
        </a>
      </div>
    </div>
  </div>
</section>
<section class="indexB">
    <a href="https://vimeo.com/579603827">
      <button>Demoreel</button>
    </a>
</section>
