@import url(https://fonts.bunny.net/css?family=spectral:400i);

body {
    background:
            linear-gradient(180deg, rgba(2, 16, 35, 0.5) 0%, rgba(30, 20, 8, 0.5) 100%),
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E"),
            rgb(10, 11, 17);
    background-blend-mode: multiply, color-dodge;
}
.article-header-content, h1 {
    font-family: "Spectral", serif;
}
.image-gallery {
    .line, .line code {
        font-size: 1.3rem;
        font-family: "Spectral", serif;
        line-height: 1.9rem;
        text-align: center;
    }
    label {
        font-family: "Spectral", serif;
    }
    img {
        box-shadow: black 0 0 50px;
    }
}